body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;

    margin: 0;      
    min-height: 100vh;  
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    background-color: #1f2937;

    display: flex;
    justify-content: space-between;

    padding: 10px 100px;
}

.header ul {
    display: flex;

    list-style: none;

    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 15px;
}

#logo {
    font-size: 24px;
    font-weight: bolder;
}


.firstSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 350px;

    background-color: #1f2937;

    gap: 30px;
}

.textSignUp {
    flex: 1;
    max-width: 30%; 
}
.textSignUp h1{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0px;

}

.textSignUp p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;   
}

#heroImage {
    max-width: 200px;
    border-radius: 6px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #e5e7eb;
    width: 120px;
    height: 25px;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    border: 2px solid #e5e7eb;
}

button:active {
    color: #3882F6;
    background-color: #e5e7eb;
} 

.informationSection {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    align-items: center;
    gap: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding-top: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    color: #1f2937;
    font-weight: lighter;

}

.card {
    height: 100px;
    width: 100px;
}

.border img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.quoteSection {
    background-color: #e5e7eb;
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
}

#Author {
    font-weight: bolder;
    align-self: flex-end;
}

.callToSignSection {
    flex: 0.7 0.7 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
}

.callToSignSection div {
    background-color: #3882F6;
    color: #e5e7eb;
    width: 60%;
    height: 60%;
    border: 3px solid #1f2937;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}